{# Main cats page #}
<div class="cats">
  <h1>{{ title }}</h1>
  <p>{{ markup }}</p>

  {# Form #}
  <div class="cats__form">
          {{ cats_form }}
  </div>

{#  #}{# List of posts #}
{#  <div class="cats__list">#}
{#    #}{#      {% for cat in cats %}#}
{#    #}{#        <div class="cats__item">#}
{#    #}{#          #}{##}{# Show image and cat's name #}
{#    #}{#          <div class="cats__image">#}
{#    #}{#            {{ cat.field_image }}#}
{#    #}{#          </div>#}
{#    #}{#          <div class="cats__title">#}
{#    #}{#            {{ cat.title }}#}
{#    #}{#          </div>#}
{#    #}{#        </div>#}
{#    #}{#      {% endfor %}#}
{#  </div>#}
</div>
