<div class="solych-cats">
  <h1>{{ content.title }}</h1>
  {{ content.content }}
  euo'eiqdhxuen'j-oqa

{#  #}{# Form #}
{#  <div class="solych-cats__form">#}
{#    #}{#      {{ form }}#}
{#  </div>#}

{#  #}{# List of posts #}
{#  <div class="solych-cats__list">#}
{#    #}{#      {% for cat in cats %}#}
{#    #}{#        <div class="solych-cats__item">#}
{#    #}{#          #}{##}{# Show image and cat's name #}
{#    #}{#          <div class="solych-cats__image">#}
{#    #}{#            {{ cat.field_image }}#}
{#    #}{#          </div>#}
{#    #}{#          <div class="solych-cats__title">#}
{#    #}{#            {{ cat.title }}#}
{#    #}{#          </div>#}
{#    #}{#        </div>#}
{#    #}{#      {% endfor %}#}
{#  </div>#}
</div>
