{% extends "themes/contrib/gin/templates/page/page.html.twig" %}

{% block content %}
  <div class="solych-cats">
  {# Title #}
{#  <h1>{{ title }}</h1>#}

{#  {{ content }}#}
  euaohsniuxniesr.lhpirxhet

  {# Form #}
  <div class="solych-cats__form">
    {{ form }}
  </div>

  {# List of posts #}
  <div class="solych-cats__list">
    {% for cat in cats %}
      <div class="solych-cats__item">
        {# Show image and cat's name #}
        <div class="solych-cats__image">
          {{ cat.field_image }}
        </div>
        <div class="solych-cats__title">
          {{ cat.title }}
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}
